@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 24, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.prose {
  max-width: 65ch;
}

.prose h2 {
  @apply text-xl font-semibold mt-6 mb-3;
}

.prose h3 {
  @apply text-lg font-semibold mt-4 mb-2;
}

.prose p {
  @apply my-3;
}

.prose ul {
  @apply list-disc pl-5 my-3;
}

.prose code {
  @apply bg-gray-100 dark:bg-gray-800 px-1.5 py-0.5 rounded text-sm;
}
